@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .glass-panel {
    @apply bg-slate-900/50 backdrop-blur-md border border-slate-800/50;
  }
}
